/* User Stylesheet Overrides */
* {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(197, 211, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ol {
  list-style-type: none;
  padding: 0px;
}

/* Multi Stage Form Styling */
/* .multi-step-form {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate3d(0.5, -0.5, 0.5, 0deg);
  }
  to {
    transform: rotate3d(0.5, -0.5, 0.5, 35deg);
  }
} */

.current-form-1 .menu-item.item-1 > p {
  background-color: cornflowerblue;
  color: black;
  border-color: cornflowerblue;
}
.current-form-1 .choice-box.stage-1 {
  display: flex;
}

.current-form-2 .menu-item.item-2 > p {
  background-color: cornflowerblue;
  color: black;
  border-color: cornflowerblue;
}
.current-form-2 .choice-box.stage-2 {
  display: flex;
}

.current-form-3 .menu-item.item-3 > p {
  background-color: cornflowerblue;
  color: black;
  border-color: cornflowerblue;
}
.current-form-3 .choice-box.stage-3 {
  display: flex;
}

.current-form-4 .menu-item.item-4 > p {
  background-color: cornflowerblue;
  color: black;
  border-color: cornflowerblue;
}
.current-form-4 .choice-box.stage-4 {
  display: flex;
}

.multi-step-form {
  display: flex;
  background-color: white;
  max-width: 600px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 65px -19px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 10px 65px -19px rgba(0,0,0,0.2);
  box-shadow: 6px 10px 65px -19px rgba(0,0,0,0.2);
}

.menu-left {
  background-color: blue;
  border-radius: 10px;
  width: 200px;
  padding: 20px;
}

.menu-item {
  display: flex;
  gap: 10px;
}

.menu-item > p {
  border-style: solid;
  border-color: white;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-text > p {
  margin: 0px;
}

.menu-step {
  font-size: x-small;
  color: rgb(176, 175, 175);
}

.menu-name {
  color: white;
  text-transform: uppercase;
}

.choice-box {
  padding: 10px 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.choice-box > div > h1 {
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.choice-box > div > p {
  font-size: small;
  color: rgb(138, 138, 138)
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.input-fields-plan {
  display: flex;
  justify-content: space-between;
}

.input-fields-plan > button {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 4px;
  background-color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.input-fields-plan > button > img {
  width: 24px;
}

.input-fields-plan > button > p {
  margin: 0px;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}

.form-navigation > button {
  padding: 10px;
  border-radius: 10px;
}

.form-navigation > button:hover {
  border-color: yellowgreen;
}

/*
Hjelpe Klasser / Utility classes
*/
.bold {
  font-weight: bold;
}

.text-description {
  color: rgb(132, 132, 132);
}

.underline {
  text-decoration: underline;
}
